/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Colors */
$white: #fff;
$black: #222;

$red: #ef4444;
$orange: #f97316;
$yellow: #facc15;
$green: #16a34a;
$teal: #008080;
$cyan: #06b6d4;
$blue: #3b82f6;
$indigo: #6366f1;
$purple: #7c3aed;
$pink: #ec4899;
$gray: #e5e7eb;

/* Typography */
$font-family: 'Inter', sans-serif;
$font-size-base: 14px;

/* Border */
$border-radius: 8px;

/* Transition */
$transition: 0.2s;